---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}"
      >{% if page.type != 'pages' %} Last updated on {{ page.last_modified_at |
      date: "%B %-d, %Y" }} {% endif %}
    </time>
    {% if page.labels %}
    <div class="note-topics">
      <span class="topics-label">Topics:</span>
      {% for label in page.labels %} {% if label contains '[' %} {% assign topic
      = label | split: ']' | first | remove: '[' | downcase %}
      <a
        href="{{ site.baseurl }}/topics/{{ topic | slugify }}"
        class="topic-tag"
        >{{ topic }}</a
      >
      {% endif %} {% endfor %}
    </div>
    {% endif %}
  </div>

  <div id="notes-entry-container">
    <content>
      {{ content }}
      <!--       <p>This line appears after every note.</p> -->
    </content>

    <!-- <side style="font-size: 0.9em">
      <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      <div style="display: grid; grid-gap: 1em; grid-template-columns: repeat(1fr);">
      {% for backlink in page.backlinks %}
        <div class="backlink-box">
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
        <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 20 }}</div>
        </div>
      {% endfor %}
      </div>
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
    </side> -->
  </div>
</article>

<hr />

<!-- <p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>

{% include notes_graph.html %} -->

<!-- Add a copy button to code snippets -->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre').forEach((block) => {
      const button = document.createElement('button');
      button.innerText = 'Copy';
      button.addEventListener('click', () => {
        const code = block.querySelector('code');
        navigator.clipboard.writeText(code.innerText).then(() => {
          button.innerText = 'Copied!';
          setTimeout(() => {
            button.innerText = 'Copy';
          }, 800);
        });
      });
      block.appendChild(button);
    });
  });
</script>

<style>
  pre {
    position: relative;
  }
  pre button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0 0 0 5px;
    cursor: pointer;
  }

  .note-topics {
    margin: 1em 0;
  }

  .topics-label {
    color: #666;
    margin-right: 0.5em;
    font-size: 0.95em;
  }

  .topic-tag {
    font-size: 0.85em;
    color: #555;
    text-decoration: none !important;
    margin-left: 0.5em;
  }

  .topic-tag:before {
    /* content: '#'; */
    opacity: 0.5;
  }

  .topic-tag:hover {
    color: #000;
    text-decoration: underline !important;
  }
</style>
<script defer src="https://cdn.commento.io/js/commento.js"></script>
<div id="commento"></div>
